title Kitty Cheung | Portfolio
meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")

link(href="../_work/css/normalize.css" rel="stylesheet")
link(href="../_work/css/main.css" rel="stylesheet")
link(href="../_work/css/grids.css" rel="stylesheet")
//- https://stackoverflow.com/questions/62657135/how-to-add-css-file-link-in-pug 
	https://superuser.com/questions/1439075/how-do-i-redirect-to-a-parent-directory-in-html


<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Calistoga">
//- https://www.w3schools.com/css/css_font_google.asp
