//- Kitty Cheung 
	IAT 339 - P3 Portfolio

doctype html
html(lang="en")
	head
		include _head

	body
		header
			include _nav

		div(class="padded grid two-column")
			div
				h2(class="add-space") Thank you! 
				p Your message has been received. I look forward to connecting with you soon!
				p 
					span Interested in viewing more of my work? Check out my
					a(href="index.html#work" class="text-link") projects.

			div(class="plane")
				img(src="img/paper-plane320x320.png" srcset="img/paper-plane320x320.png 320w, img/paper-plane700x700.png 700w, img/paper-plane1024x1024.png 1024w" sizes="50vw" alt="line art of a paper plane with a curly dotted line trailing behind")

		footer(class="ty-footer")
			include _footer