/*	Kitty Cheung 
 * IAT 339 - P3 Portfolio */
.grid {
	display: -ms-grid;
	display: grid;
}

@media (min-width: 20rem) {
	#contact {
		padding-bottom: 5rem;
	}
	.large-text {
		font-size: 1.7rem;
	}
}
@media (min-width: 29rem) {
	.nav-space {
		-ms-grid-columns: 1fr 0fr 1fr 1fr;
		grid-template-columns: 1fr 0fr 1fr 1fr;
	}
	.add-space {
		padding-top: 3rem;
	}
	.add-space-work {
		padding-top: 6rem;
	}
	#name {
		width: 10rem;
	}
	#email {
		width: 15rem;
	}
	#msg {
		width: 25rem;
	}
	nav {
		position: fixed;
		top: 0;
		width: 100%;
	}
	.large-text {
		font-size: 2.7rem;
	}
	.padded, footer {
		padding: 3rem;
	}
}
@media (min-width: 35rem) {
	.two-column-form {
		-ms-grid-columns: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
	}
	.large-text {
		font-size: 3rem;
	}
	h2 {
		font-size: 2.6rem;
	}
	.plane img {
		padding: 1.5rem;
	}
}
@media (min-width: 40rem) {
	.nav-space {
		-ms-grid-columns: 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	.large-text {
		font-size: 4.2rem;
	}
	.intro-text {
		font-size: 1.8rem;
	}
	p {
		font-size: 1.2rem;
	}
	.paragraph-columns {
		-webkit-columns: 20rem 2;
		   -moz-columns: 20rem 2;
		        columns: 20rem 2;
		-webkit-column-gap: 4rem;
		   -moz-column-gap: 4rem;
		        column-gap: 4rem;
		orphans: 3;
	}
}
@media (min-width: 47rem) {
	.nav-space {
		-ms-grid-columns: 1fr 2fr 1fr 1fr;
		grid-template-columns: 1fr 2fr 1fr 1fr;
	}
	.large-text {
		font-size: 5rem;
	}
	figure img {
		margin-right: 1rem;
	}
	.padded-work {
		width: 70%;
	}
	.bottom-space {
		margin-bottom: 6rem;
	}
}
@media (min-width: 57rem) {
	.nav-space {
		-ms-grid-columns: 1fr 3fr 1fr 1fr;
		grid-template-columns: 1fr 3fr 1fr 1fr;
	}
	.padded-work {
		width: 60%;
	}
	.padded-work h3 {
		margin-top: 3rem;
	}
}
@media (min-width: 60rem) {
	.large-text {
		font-size: 6.7rem;
	}
	.intro-text {
		font-size: 2.5rem;
	}
}
@media (min-width: 64rem) {
	.two-column {
		-ms-grid-columns: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
	}
	.project-img {
		background-color: white;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		width: 100%;
	}
	.large-text {
		font-size: 7.4rem;
	}
	.padded-work {
		width: 50%;
	}
}
@media (min-width: 66rem) {
	.nav-space {
		-ms-grid-columns: 1fr 4fr 1fr 1fr;
		grid-template-columns: 1fr 4fr 1fr 1fr;
	}
	.large-text {
		font-size: 7.6rem;
	}
	h2 {
		font-size: 3.5rem;
	}
	h3 {
		font-size: 2rem;
	}
}
@media (min-width: 120rem) {
	.large-text {
		font-size: 10rem;
	}
	.plane img {
		padding: 3rem;
	}
}
@media (min-width: 160rem) {
	.large-text {
		font-size: 15rem;
	}
	.intro-text {
		font-size: 3rem;
	}
}